#account {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(248, 220, 226, 0.69);
    display: none;
    justify-content: center;
    align-items: center;
}

#account section {
    background-color: var(--light);
    border-radius: 1.8vw;
    width: 30%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.9vw;
    padding: 1.2vw;
}

#account .button {
    width: 100%;text-align: center;
}

#account img {
    width: 90%;
}