@font-face {
  font-family: 'Regular';
  src: url('../fonts/SourceCodePro-Regular.ttf');
}

@font-face {
  font-family: 'Bold';
  src: url('../fonts/SourceCodePro-Black.ttf');
}

:root {
  --light: #fcf1f3;
  --light-mid: #ffe9ef;
  --mid: #fde3e7;
  --strong: #fac6ce;
  --bold: #d40819;
  --dark: #130001;
  --low: #068f1d;
  --norm: #f7c215;
  --high: #eb0d1f;
}

body {
  padding-left: 4.5vw;
  background-color: var(--light);
  height: 100%;
}

/* FONTS */

h1, h2, h3, h4, h5, li, a, button, input {
  font-family: 'Bold';
  font-weight: normal;
  color: var(--bold);
  margin: 0;
}

p {
  font-family: 'Regular';
  font-weight: normal;
  margin: 0;
}

h1 {
  font-size: 2.7vw;
}

h2 {
  font-size: 2.1vw;
}

h3 {
  font-size: 1.8vw;
}

h4 {
  font-size: 1.5vw;
}

h5, p {
  font-size: 1.2vw;
}

.label {
  font-size: .9vw;
  color: var(--strong);
}

/* COLOURS */

.light {
  background-color: var(--light);
}

.mid {
  background-color: var(--mid);
}

.low {
  background-color: var(--low);
}

.norm {
  background-color: var(--norm);
}

.high {
  background-color: var(--high);
}

/* COMPONENTS */

/* Buttons */

.button, input[type=submit] {
  height: fit-content;
  width: fit-content;
  text-decoration: none;
  background-color: var(--light-mid);
  padding: .9vw;
  padding-left: 1.2vw;
  padding-right: 1.2vw;
  border: var(--mid) solid 2px;
  border-radius: 1.2vw;
}

.button:hover, input[type=submit]:hover {
  border-radius: 30vw;
  color: var(--bold);
}

.toggle-slider {
  background-color: var(--light-mid);
  width: fit-content;
  border-radius: 100vw;
}

.toggle-slider:hover {
  background-color: var(--mid);
}

.toggle-button {
  cursor: pointer;
  padding: .6vw;
  padding-left: .9vw;
  padding-right: .9vw;
  border: none;
  border-radius: 100vw;
}

input[type=submit] {
  background-color: var(--bold);
  color: var(--light);
}

input[type=submit]:hover {
  color: var(--light);
  box-shadow: none;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

hr {
  border-top: 3px solid var(--strong);
  background-color: var(--strong);
  border-radius: 9px;
  margin-top: .9vw;
  margin-bottom: .9vw;
}

/* Input Fields */

input {
  background-color: var(--light-mid);
  width: 24vw;
  padding: .9vw;
  border: none;
  border-radius: 1.2vw;
}

input:hover {
  border-radius: 3vw;
  box-shadow: 0 1px 6px 1px var(--strong);
}

input:focus {
  background-color: var(--mid);
  outline: none;
}

::placeholder {
  color: var(--bold);
}

input[type=checkbox] {
  width: 1.2vw;
}

/* Progress Bars + Charts */

.progress {
  background-color: var(--light);
  border-radius: 100vw;
  margin-top: .6vw;
  margin-bottom: .9vw;
}

.bg-success {
  background-color: var(--low);
}

.bg-warning {
  background-color: var(--norm);
}

.bg-danger {
  background-color: var(--high);
}

/* TRANSITIONS */

.button, img, input {
  transition: border-radius .6s, border .6s, color .3s, box-shadow .3s;
}