@font-face {
  font-family: 'Regular';
  src: url('../fonts/SourceCodePro-Medium.ttf');
}

@font-face {
  font-family: 'Bold';
  src: url('../fonts/SourceCodePro-Black.ttf');
}

:root {
  --light: #fcf1f3;
  --light-mid: #ffe9ef;
  --mid: #ffe2e7;
  --strong: #fac2cb;
  --bold: #c41019;
  --dark: #130001;
}

body {
  padding-left: 4.5vw;
  background-color: var(--light);
  height: 100%;
}

/* FONTS */

h1, h2, h3, h4, h5, li, a, button, input {
  font-family: 'Bold';
  font-weight: normal;
  color: var(--bold);
  margin: 0;
}

p {
  font-family: 'Regular';
  font-weight: normal;
  margin: 0;
}

/* COLOURS */

.light {
  background-color: var(--light);
}

.mid {
  background-color: var(--mid);
}

/* COMPONENTS */

/* Buttons */

.button, input[type=submit] {
  height: fit-content;
  width: fit-content;
  text-decoration: none;
  background-color: var(--light-mid);
  padding: .9vw;
  border: var(--mid) solid 2px;
  border-radius: 1.2vw;
}

.button:hover, input[type=submit]:hover {
  border-radius: 1.8vw;
}

.toggle-slider {
  background-color: var(--light-mid);
  width: fit-content;
  border-radius: 100vw;
}

.toggle-slider:hover {
  background-color: var(--mid);
}

.toggle-button {
  cursor: pointer;
  padding: .6vw;
  padding-left: .9vw;
  padding-right: .9vw;
  border: none;
  border-radius: 100vw;
}

input[type=submit] {
  background-color: var(--bold);
  color: var(--light);
}

/* Input Fields */

input {
  background-color: var(--light-mid);
  width: 24vw;
  padding: .9vw;
  border: none;
  border-radius: 1.2vw;
}

input:hover {
  border-radius: 3vw;
}

input:focus {
  background-color: var(--mid);
  outline: none;
}

::placeholder {
  color: var(--bold);
}

/* TRANSITIONS */

.button, img, input[type=submit] {
  transition: border-radius .3s, border .3s;
}