.dashboard-left {
    padding: 2.1%;
    width: 70%;
    height: 100vh;
    float: left;
    display: flex;
    flex-direction: column;
    gap: 1.8vw;
}
  
.dashboard-left h1, .dashboard-left h3 {
    color: var(--dark);
}
  
.dashboard-right {
    float: left;
    width: 30%;
    padding: 2.1%;
    padding-left: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1.8vw;
}

.finance-charts div, #db-transactions, #db-finance-categories, #upcoming-payments div, .dashboard-goals, #db-notes li {
    padding: 1.8%;
    padding-left: 3%;
    padding-right: 3%;
    background-color: var(--mid);
    border-radius: 1.5vw;
    width: 100%;
    float: left;
}

.finance-charts, #transaction-stats, .dashboard-goals span, #db-notes ul, #db-transactions span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.2vw;
}

#db-header {
    padding-top: 3vw;
}

#db-notes ul {
    justify-content: flex-start;
    overflow-x: auto;
    padding-bottom: .6vw;;
}

#upcoming-payments div, #db-notes li {
    width: fit-content;
    text-align: center;
    border: 2px solid var(--light);
    background-color: var(--light-mid);
    -moz-box-shadow: 0 3px 6px var(--mid);
    -webkit-box-shadow: 0 3px 6px var(--mid);
    box-shadow: 0 3px 6px var(--mid);
    margin-right: 1.2vw;
}

#upcoming-payments h2 {
    color: var(--dark);
    padding: 1.2vw;
    padding-left: 0;
}

#upcoming-payments div h1 {
    font-size: 3.9vw;
}

#upcoming-payments div h4 {
    padding-top: .3vw;
}

#upcoming-payments div .label {
    padding-bottom: .3vw;
}

.dashboard-goals, #db-transactions {
    padding: 1.8vw;
    width: 100%;
    height: 90vh;
    -moz-box-shadow: 0 -3px 6px var(--strong) inset;
    -webkit-box-shadow: 0 -3px 6px var(--strong) inset;
    box-shadow: 0 -3px 6px var(--strong) inset;
    overflow: auto;
}

.dashboard-goals span {
    align-items: flex-end;
    justify-content: space-between;
}

.dashboard-goals h3 {
    margin-bottom: .9vw;
}

.dashboard-goals span .button {
    font-size: 2.7vw;
    padding-top: 0;
    padding-bottom: 0;
}

.dashboard-goals .button {
    font-size: 1.5w;
    background-color: var(--light)
}

.dashboard-goals li, #db-transactions li, #db-header, #db-finance-categories span, #db-finance-categories li, .finance-charts ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.goal-label {
    width: 100%;
    padding-left: 1.2vw;
}

.priority-indicator {
    width: 1.1vw;
    height: .9vw;
    border-radius: 100%;
}

#db-notes li {
    padding: .9vw;
    margin: 0;
}

#db-notes li p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#db-notes {
    padding-bottom: 1.2vw;
}

.finance-charts p {
    margin-top: .3vw;
    font-size: 1.5vw;
}

.finance-charts ul {
    height: 15vw;
    margin: 0;
}

.finance-charts li {
    height: 100%;
    color: var(--light);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.chart-hr {
    border: 9px solid var(--bold);
    background-color: var(--bold);
    opacity: 1;
    width: 1.5vw;
}

#transaction-stats {
    align-items: flex-start;
    justify-content: space-between;
}

#db-transactions, #db-finance-categories {
    width: 50%;
    height: fit-content;
    margin-bottom: 2.1%;
}

.doughnut {
    width: 16vw;
    height: 16vw;
}

#db-finance-categories h2 {
    margin-bottom: .9vw;
    text-align: center;
}

#db-finance-categories li {
    justify-content: flex-start;
    gap: .9vw;
    margin-left: 1.2vw;
}

#db-finance-categories li div {
    border-radius: 100vw;
    width: 1.5vw;
    height: 1.5vw;
    padding: 0;
}

.transactions-list h4:hover {
    cursor: pointer;
    color: blue;
}

#account-settings button {
    float: right;
}

#account-settings button:first-of-type {
    padding: .3vw .9vw .3vw .9vw;
}

#account-settings button:last-of-type {
    margin-top: .6vw;
    padding: 0;
    border: var(--light) solid 2px;
    cursor: default;
}

.gyst-button {
    padding: .45vw .9vw .45vw .9vw;
}