#dashboard-left {
    padding: 2.1%;
    width: 70%;
    height: 100vh;
    float: left;
    display: flex;
    flex-direction: column;
    gap: 1.8vw;
}

#dashboard-left h1, #dashboard-left h3 {
    color: var(--dark);
}

#dashboard-right {
    float: left;
    width: 30%;
    padding: 2.1%;
    padding-left: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1.8vw;
}

#db-header {
    padding-top: 3vw;
}

.finance-charts div, #db-finance-goals, #upcoming-payments div, #db-goals, #db-notes div {
    padding: 1.8%;
    padding-left: 3%;
    padding-right: 3%;
    background-color: var(--mid);
    border-radius: 1.5vw;
    width: 100%;
    float: left;
}

.finance-charts, #db-finance-goals, #db-finance-goals div, #db-goals span, #db-notes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.2vw;
}

#db-finance-goals {
    justify-content: space-around;
}

#upcoming-payments, #db-notes {
    justify-content: flex-start;
    overflow: auto;
    padding-bottom: .6vw;;
}

#upcoming-payments div, #db-notes div {
    width: fit-content;
    text-align: center;
    border: 2px solid var(--light);
    background-color: var(--light-mid);
    -moz-box-shadow: 0 3px 6px var(--mid);
    -webkit-box-shadow: 0 3px 6px var(--mid);
    box-shadow: 0 3px 6px var(--mid);
    margin-right: 1.2vw;
}

#upcoming-payments h2 {
    color: var(--dark);
    padding: 1.2vw;
    padding-left: 0;
}

#upcoming-payments div h1 {
    font-size: 3.9vw;
}

#upcoming-payments div h4 {
    padding-top: .3vw;
}

#upcoming-payments div .label {
    padding-bottom: .3vw;
}

#db-goals {
    padding: 1.8vw;
    width: 100%;
    height: 69vh;
    -moz-box-shadow: 0 -3px 6px var(--strong) inset;
    -webkit-box-shadow: 0 -3px 6px var(--strong) inset;
    box-shadow: 0 -3px 6px var(--strong) inset;
}

#db-goals span {
    align-items: flex-end;
    justify-content: space-between;
}

#db-goals h2 {
    margin-bottom: .9vw;
  }

#db-goals .button {
    font-size: 2.7vw;
    padding-top: 0;
    padding-bottom: 0;
}

#db-goals li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.goal-label {
    width: 100%;
    padding-left: 1.2vw;
}

.priority-indicator {
    width: .9vw;
    height: .9vw;
    border-radius: 100%;
}

#db-notes div {
    padding: .9vw;
    margin: 0;
}

#db-notes div p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}