#form-db .dashboard-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

#form-db .dashboard-goals {
    height: 100vh;
}

#form-db .dashboard-left .form {
    display: flex;
    flex-direction: column;
    gap: 1.2vw;
    width: fit-content;
}

#form-db .dashboard-left input {
    width: 100%;
}

#form-db .dashboard-left .form div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}