/* BACKGROUND */

#homepage {
    background-color: var(--mid);
    padding-right: 4.5vw;
}

#homepage section {
    display: flex;
    justify-content: center;
}

#hp-first {
    height: 50vh;
    background-color: var(--light);
    border-radius: 0 0 30vw 0;
    align-items: flex-end;
    padding-bottom: 3vh;
}

#hp-second {
    height: 44vh;
    background-color: var(--mid);
    border-radius: 30vw 0 0 0;
    padding-top: 3vh;
}

#hp-third {
    height: 40vh;
    background-color: var(--mid);
    border-radius: 0 0 0 30vw;
}

#hp-fourth {
    height: 60vh;
    background-color: var(--light);
    border-radius: 0 30vw 0 0;
}

.home-button {
    text-decoration: none;
    position: fixed;
    top: 1.2vw;
    left: 1.2vw;
}

.home-button h1 {
    color: var(--dark);
}

.sign-in-button {
    position: fixed;
    top: 1.2vw;
    right: 1.2vw;
}

#hp-second .button:hover, .sign-in-button:hover  {
    box-shadow: 0 1px 6px 1px var(--strong);
}