#login {
    display: flex;
    flex-direction: row;
}


#login-left {
    height: 100vh;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.8vh;
}

#login form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5vh;
}

#socials {
    display: flex;
    flex-direction: row;
    gap: 1.5vh;
}

#socials img {
    width: 3.9vw;
    border-radius: 1.2vw;
    border: var(--light-mid) solid 2px;
}

#socials img:hover {
    border: var(--strong) solid 2px;
}

#login-right {
    height: 100vh;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-mid);
}

#login-right img {
    position: relative;
    right: 11vw;
    width: 30vw;
}