@media only screen and (max-width: 600px) {
    @media (prefers-color-scheme: dark) {
        body {
            --light: #0f0f0f;
            --light-mid: #202020;
            --mid: #1d1d1d;
            --strong: #2e2e2e;
            --bold: #ffd5db;
            --dark: #fde3e7;
        }
    }

    /* NAV */
    header {
        position: fixed;
        bottom: 0;
        left: 0;
        height: fit-content;
    }
    
    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: .6vw;
        padding: .6vw;
        margin: 0;
    }
    
    #nav {
        background: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    
    .menu-icon img {
        height: 12vw;
        border-radius: 2.4vw;
        border: var(--light-mid) solid 2px;
    }

    /* DASHBOARD */

    .dashboard-left {
        width: 100%;
    }
      
    .dashboard-right {
        width: 100%;
    }

    .dashboard-left h1 {
        font-size: 4.5vw;
    }

    .dashboard-left h3 {
        font-size: 3.3vw;
    }
}