header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    flex-direction: row;
}

nav {
    background: var(--light-mid);
    display: flex;
    flex-direction: column;
    gap: .6vw;
    padding: .6vw;
    -moz-box-shadow: 3px 0 6px var(--mid);
    -webkit-box-shadow: 3px 0 6px var(--mid);
    box-shadow: 3px 0 6px var(--strong);
}

.menu-icon img {
    height: 3vw;
    border-radius: .9vw;
    border: var(--light-mid) solid 2px;
}

header ul {
    display: flex;
    flex-direction: column;
    gap: .6vw;
    padding: .6vw;
    margin: 0;
}

header li {
    background: var(--light-mid);
    height: 3vw;
    border-radius: .9vw;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding-left: 1vw;
    padding-right: 1vw;
    border: var(--mid) solid 2px;
}

header a img:hover {
    border: var(--strong) solid 2px;
}