@media only screen and (min-width: 600px) {
    #nav {
        background: var(--light-mid);
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        -moz-box-shadow: 3px 0 6px var(--strong);
        -webkit-box-shadow: 3px 0 6px var(--strong);
        box-shadow: 3px 0 6px var(--strong);
    }

    header {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        display: flex;
        flex-direction: row;
    }

    header ul, nav, #nav section {
        display: flex;
        flex-direction: column;
        gap: .6vw;
        padding: .6vw;
        margin: 0;
    }

    .menu-icon img {
        height: 3vw;
        border-radius: .9vw;
        border: var(--light-mid) solid 2px;
    }
}

header li {
    background: var(--light-mid);
    height: 3vw;
    border-radius: .9vw;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding-left: 1vw;
    padding-right: 1vw;
    border: var(--mid) solid 2px;
}

header a img:hover, header button img:hover {
    border: var(--strong) solid 2px;
}

#colour_modes button {
    height: 3vw;
    width: 3vw;
    border: none;
}

button#pink_mode {
    background-color: #fda7b4;
}

button#blue_mode {
    background-color: #a1b9fa;
}

button#orange_mode {
    background-color: #fad0a1;
}

button#purple_mode {
    background-color: #d2a1fa;
}

button#green_mode {
    background-color: #a1fac6;
}

button#dark_mode {
    background-color: #2b2727;
}

/* MOBILE */
.mobile #nav {
    background: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}