#note-left, #note-right {
    height: 100%;
    padding: 1.5vw;
    padding-top: 3vw;
}
    
#note-left {
    width: 32%;
    float: left;
    overflow: hidden;
}

#note-left li {
    margin-top: .9vw;
    background-color: var(--light-mid);
    color: var(--dark);
    padding: .9vw;
    border-radius: 1.2vw;
    width: 89%;
}

#note-left span {
    display: flex;
    justify-content: space-between;
}

#note-left .label {
    padding-bottom: .6vw;
    height: fit-content;
}

#note-left h3 {
    color: var(--dark);
}

#note-left li span:last-of-type li {
    background-color: var(--strong);
    color: var(--light);
    padding: .3vw;
    padding-right: .9vw;
    border-radius: .6vw;
}

#note-right {
    width: 68%;
    position: fixed;
    right: 0;
    top: 0;
    padding-left: 2.4vw;
    padding-right: 2.4vw;
    -moz-box-shadow: 0 -3px 6px var(--strong) inset;
    -webkit-box-shadow: 0 -3px 6px var(--strong) inset;
    box-shadow: 0 -3px 6px var(--strong) inset;
}

#note-right span {
    display: flex;
    justify-content: space-between;
}

#note-right input[type=text], #note-right textarea {
    padding: 0;
    background-color: var(--light);
    font-size: 2.1vw;
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
    color: var(--dark);
    border-radius: 0;
}

#note-right textarea  {
    font-size: 1.5vw;
    height: 78vh;
    resize: none;
}

#note-right input[type=text]:hover, #note-right textarea:hover {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#note-right input[type=text]::placeholder {
    color: var(--dark);
}

#note-right .label, #note-right hr {
    font-size: 1.2vw;
}

#note-right .submit {
    position: fixed;
    bottom: 1.2vw;
    right: 1.2vw;
}

#note-right .form h2 {
    cursor: pointer;
}

.show-buttons {
    position: fixed;
    bottom: 1.2vw;
    right: 1.2vw;
    display: flex;
    gap: .9vw;
    align-items: center;
}

.show-buttons a, .show-buttons button {
    padding: .9vw;
    border: 2px solid var(--light-mid);
    border-radius: 1.2vw;
    color: var(--light);
    background-color: var(--bold);
}

.show-buttons a:hover, .show-buttons button:hover {
    border: 2px solid var(--strong);
    border-radius: 3vw;
}

/* CATEGORIES */

span#category-input {
    justify-content: flex-start;
    margin-top: .3vw;
}

#category-input ul, #category-input, #category-input li {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    gap: .6vw;
}

#category-input li button {
    padding: 0;
}

#note-right #category-input input, #note-right #category-input input::placeholder, #category-input li, #category-input button {
    font-size: 1.2vw;
    border: 3px solid var(--strong);
    color: var(--strong);
    border-radius: .6vw;
    width: fit-content;
    height: 3vw;
    padding: 0;
    padding-left: .6vw;
    padding-right: .6vw;
    background-color: var(--light);
}

#note-right #category-input input::placeholder {
    border: none;
}

#category-input li, #category-input button  {
    background-color: var(--strong);
    color: var(--light);
}